@CHARSET "UTF-8";
/** 左右结构主页布局，需要使用的主页可引用 */

/**********************************************左侧栏******************************************/
.sidebar {
	position:absolute;
	top:0px;
	left: 0px;
	width: 200px;
}

.sidebar .sidebar-info{
	text-align: center;
	height: 324px;
    background:-moz-linear-gradient(top,#0084FF,#33B0E8);/*火狐*/
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#0084FF), to(#33B0E8));/*谷歌*/   
    background-image: -webkit-gradient(linear,left bottom,left top,color-start(0, #0084FF),color-stop(1, #33B0E8));/* Safari & Chrome*/  
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#0084FF', endColorstr='#33B0E8'); /*IE6 & IE7*/  
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#0084FF', endColorstr='#33B0E8')"; /* IE8 */  
}

/** 顶部LOGO **/
.sidebar .sidebar-info .sidebar-logo {
	margin-top: 20px;
}

/** 个人头像  **/
.sidebar .sidebar-info .sidebar-portrait {
	width: 130px;
	margin: 30px auto 0 auto;
}

/** 个人姓名  **/
.sidebar .sidebar-info .sidebar-name {
 	position: absolute;
  	top: 215px;
  	left: 60px;
  	width: 80px;
  	line-height: 25px;
  	color: white;
  	background: #32363F;
  	border-radius: 15px;
}

/** 归属学校  **/
.sidebar .sidebar-info .sidebar-school {
  	position: absolute;
  	top: 255px;
  	width: 200px;
  	color: white;
}

/** 归属班级  **/
.sidebar .sidebar-info .sidebar-class {
  	position: absolute;
  	top: 275px;
  	width: 200px;
  	color: white;
}

/** 个人统计数据 
.sidebar .sidebar-info .sidebar-statistical {
  	position: absolute;
  	top: 315px;
  	left: 15px;
  	width: 170px;
  	height: 55px;
  	background: white;
  	border-radius: 230px;
}

.sidebar .sidebar-info .sidebar-statistical span:nth-of-type(1){
  	position: absolute;
  	left: 20px;
  	top: 5px;
  	height: 25px;
  	width: 60px;
  	color: #32B1E6;
  	text-align: center;
  	font-size: 21px;
}
.sidebar .sidebar-info .sidebar-statistical span:nth-of-type(2){
  	position: absolute;
  	left: 92px;
  	top: 5px;
  	height: 25px;
  	width: 60px;
  	color: #32B1E6;
  	text-align: center;
  	font-size: 21px;
}
.sidebar .sidebar-info .sidebar-statistical span:nth-of-type(3){
  	position: absolute;
  	left: 85px;
  	top: 5px;
  	height: 45px;
  	width: 1px;
  	background-color: #949CA5;
}
.sidebar .sidebar-info .sidebar-statistical span:nth-of-type(4){
position: absolute;
  	left: 20px;
  	top: 28px;
  	height: 20px;
  	color: #949CA5;
  	text-align: center;
}
.sidebar .sidebar-info .sidebar-statistical span:nth-of-type(5){
   	position: absolute;
   	left: 95px;
   	top: 28px;
   	height: 20px;
   	color: #949CA5;
   	text-align: center;
} **/

/** 主页菜单 */
.sidebar-menu {
	background: #FBFBFB;
}

.sidebar-menu ul>li {
	height:50px;
	font-size: 14px;
	color: #4D4E4E;
	background: #FBFBFB;
}

.sidebar-menu ul>li.disabled {
    cursor: not-allowed;
}

.sidebar-menu ul>li.curr {
	color: #F15060;
	cursor: pointer;
}

.sidebar-menu ul>li:hover {
	color: #F15060;
	cursor: pointer;
}

.sidebar-menu ul>li.disabled:hover {
	color: #F15060;
	cursor: not-allowed;
}


.sidebar-menu ul li span:nth-of-type(1) {	
	position: absolute;
	top:2px;
	height:47px;
	width:4px;
	background: #FBFBFB;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

.sidebar-menu ul li.curr span:nth-of-type(1), .sidebar-menu ul li:hover span:nth-of-type(1){
	background: #F15060;
}

.sidebar-menu ul li>i {
	position: absolute;
	top: 15px;
	left: 30px;
	width: 24px;
	height: 24px;
}

.sidebar-menu ul li span:nth-of-type(2)  {
	position: absolute;
	top: 15px;
	line-height:24px;
	margin-left: 70px;
}

.sidebar-menu ul li>hr {
	position: absolute;
  	top: 0px;
  	left: 20px;
  	right: 20px;
  	margin: 0px;
  	color: #E0E0E0;
  	border-color: #E0E0E0;
}

.sidebar-menu ul li:last-of-type {
	pointer-events: none;
}


.sidebar-menu ul li.curr>hr , .sidebar-menu ul li:hover>hr{
	left: 0px;
  	right: 0px;
} 

.sidebar-menu ul li.curr + li>hr , .sidebar-menu ul li:hover + li>hr{
	left: 0px;
  	right: 0px;
}

.sidebar-menu ul li>i.menu-icon1 {
	background: url(../../images/menu/icon01.png) center center no-repeat;
}

.sidebar-menu ul li>i.menu-icon2 {
	background: url(../../images/menu/icon02.png) center center no-repeat;
}

.sidebar-menu ul li>i.menu-icon3 {
	background: url(../../images/menu/icon03.png) center center no-repeat;
}

.sidebar-menu ul li>i.menu-icon4 {
	background: url(../../images/menu/icon15.png) center center no-repeat;
}

.sidebar-menu ul li>i.menu-icon5 {
	background: url(../../images/menu/icon04.png) center center no-repeat;
}

.sidebar-menu ul li>i.menu-icon6 {
	background: url(../../images/menu/icon05.png) center center no-repeat;
}

.sidebar-menu ul li:hover>i.menu-icon1, .sidebar-menu ul li.curr>i.menu-icon1 {
	background: url(../../images/menu/icon01-hover.png) center center no-repeat;
}

.sidebar-menu ul li:hover>i.menu-icon2, .sidebar-menu ul li.curr>i.menu-icon2 {
	background: url(../../images/menu/icon02-hover.png) center center no-repeat;
}

.sidebar-menu ul li:hover>i.menu-icon3, .sidebar-menu ul li.curr>i.menu-icon3 {
	background: url(../../images/menu/icon03-hover.png) center center no-repeat;
}

.sidebar-menu ul li:hover>i.menu-icon4, .sidebar-menu ul li.curr>i.menu-icon4 {
	background: url(../../images/menu/icon15-hover.png) center center no-repeat;
}

.sidebar-menu ul li:hover>i.menu-icon5, .sidebar-menu ul li.curr>i.menu-icon5 {
	background: url(../../images/menu/icon04-hover.png) center center no-repeat;
}

.sidebar-menu ul li:hover>i.menu-icon6, .sidebar-menu ul li.curr>i.menu-icon6 {
	background: url(../../images/menu/icon05-hover.png) center center no-repeat;
}

/**********************************右侧主页************************************/
.right-content {
	position:absolute;
	top:0px;
	left:200px;
	background: #FBFBFB;
	border-left: 1px;
	border-left-color: #E0E0E0;
	border-left-style: solid;
	overflow:auto;
}

/** 版权页 */
.right-content .copyright {
	text-align: left;
	margin:0px 20px 20px 20px;
	color: #9198ab;
	visibility:hidden;
	clear: both;
}
/*****************************右侧内容公共样式******************************/
.page-content {
	
}

.page-content.page-content-nav {
	padding: 20px 40px;
	background: white;
}

.page-content .page-content-label {
	float: left;
	padding-left: 15px;
}

.page-content .page-content-label.checkbox-label {
	line-height: 31px;
}

/** 上下布局分隔线  */
.page-content.page-content-hr {
	margin-top: 0;
	margin-bottom: 0;
}

/** 块样式 */
.page-content.form-horizontal, .page-content.page-content-horizontal {
	margin: 25px 20px;
	padding: 15px 15px;
	background: white;
	border-bottom: 1px solid #eee;
	border-right: 1px solid #eee;
}